.dashboardPage{

    color: black;
    cursor: pointer;
}
.dashboardContainer{
    width: 20%;
    height: 40%;
    display: flex;
    border-right:0.25px solid grey ;
    flex-direction: column;
    /* align-items: center; */
    padding: 2rem;
    gap: 2rem;
    height: 320px;
}
.dashboardPage:hover{
    background-color: grey;
}