.heroSection{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.bodySection{
    width: 100%;

    padding: 1rem 2rem;
    display: flex;
}

.heroSection{
    display: flex;
    width: 70%;
}