/* .cartContainer{
    display: flex;
    height: 100px;
    width:60%
}

.imgWrapper{
    height: 100px;
    width: 100px;
}
.productImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
} */