/* OrderSummary.module.css */

.orderSummaryContainer {
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 1rem 2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .couponAndSummaryContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
  }
  
  .couponContainer {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .promoCodeContainer {
    margin-bottom: 15px;
  }
  
  .inputContainer {
    display: flex;
  }
  
  input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 8px;
  }
  
  .applyButton {
    padding: 8px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .summaryContainer {
    background-color: #f9f9f9;
    width: 100%;
    border-radius: 8px;
display: flex;
flex-direction: column;
gap: 1rem;
  }
  
  .itemDetailsContainer {
    display: flex;
    /* background-color: blue; */
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
  
  .itemDetail {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    width: 100%;

}
  
  .placeOrderButton {
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 80%;
    height: 34px;
    font-size: 16px;
  }
  
  .placeOrderButton:hover,
  .applyButton:hover {
    background-color: #45a049;
  }
  