.homeContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-height: auto;
    background-color: rgb(227,228,234);
}
.siderbarWrapper{
    width: 100%;
    display: flex;
    gap: 1rem;
}

.bannerImgWrapper{
    padding-top: 2rem;
}