.productContainer{
    width: 200px;
    height: 200px;
    padding:0.25rem 0.5rem;
background-color:rgb(228 205 219 / 50%);
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;display: flex;
flex-direction: column;
gap: 0.35rem;

}

.productImg{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.imgWrapper{
    height: 50%;
    width: 100%;
}
.bookmarkIcon, .cartIcon{
    cursor: pointer;
}
.iconsWrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.name{
    height: 40px;

    letter-spacing: 1px;
    font-size: 12px;
}
.price{
    color:rgb(219,68,68);
    font-weight: bold;
}
.cartBtn{
    background-color: red;
}