.cartContainer{
    display: flex;
    width: 80%;
    justify-content:space-between;   
     height: 100px;
    background-color: grey;
    align-items: center;
    padding: 0rem 2rem;
border-bottom: 0.25px solid grey;

}
.Icon{
    color: red;
}

.increaseBtn, .decreaseBtn{

    cursor: pointer;
}

.btnWrapper{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.Aboutproduct{
    display: flex;
    gap: 1rem;
}

.imgWrapper{
    display: flex;
    height: 80px;
    width: 100px;
}

.productImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.deleteIcon{
    cursor: pointer;
}

.cartIcon{
cursor: pointer;
}