/* Loginbox.module.css */

.loginContainer {
    width: 36%;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .loginTitle {
    font-size: 1.5em;
  }
  
  .loginSubtitle {
    /* color: #555; */
    color: red;
    font-weight: 600;
  }
  
  .inputWrapper {
display: flex;
flex-direction: column;
gap: 2rem;
  }
  
  .inputBox {
    width: 100%;
    padding: 8px;
    outline: none;
    border: none;

    border: 0.5px solid rgba(128, 128, 128, 0.638);
    border-radius: 9px;
    box-sizing: border-box;
  }
  
  .btnWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .loginBtn {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .bottom{
    display: flex;
    gap: 2rem;
  }
  .links{
    text-decoration: none;
    color: #3498db;
    ;
  }
  
  .forgotPasswordBtn {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  /* Additional styles can be added as needed */
  